body {
    padding-top: 280px;
}
body {
    background-image: url("http://nbot-pub.nosdn.127.net/29701d5dd1301b2543f98e2a587a6a96.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}


