body {
    padding-top: 80px;
    text-align:left;
}
body {
    background-image: url("http://www.17sucai.com/upload/55/2013-05-18/5b35ecbde79d9c10c2cb947154dc48d7.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}