body {
    padding-top: 280px;
}
body {
    background-image: url("https://minecraft.net/static/pages/img/minecraft-hero-og.8192ae9ca275.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}
